    <main>
        <div id="left">
            <div id="logo">
              <img class="logo" src="/assets/images/Jedi-Clicker-Logo.png" />
            </div>
            <div id="upgradesBought">
              {{gameData.[1]}}
            {{!-- {{#each gameData.[1]}}
                <p>
                  {{@key}} x{{this}}
                </p>
            {{/each}} --}}
            </div>
        </div>

        <div id="center">
            <div id="chooseGame">
              <h1>There are no sidelines. You must choose a side!</h1>
              &nbsp;
              <div>
                <img class="logo" src="/assets/images/The-Rebellion-Logo.png" />
                <img class="logo" src="/assets/images/The-Empire-Logo.png" />
              </div>
            </div>
        </div>

        <div id="right">
            <div id="storeTitle">
              <h2 class="storeTitle">Store</h2>
            </div>
            <div id="upgrades">
              {{gameData.[2]}}
              {{!-- {{#each gameData.[2] as stores}}
                  {{#each stores as store}}
                    <h4>{{store.name}}</h4>
                    {{#each store as item}}
                      <p>{{item.name}}</p>
                    {{/each}}
                  {{/each}}
            {{/each}} --}}
            </div>
        </div>
    </main>
